In [15]:
d = {'emp1':{'name':'abc', 'age':23, 'address':'16-1-33/c'},'emp2':{'name':'ab', 'age':3, 'address':'16-33/c'}}
print(d['emp1']['address'])

16-1-33/c

In [9]:
d1 = eval(input("enter dictionary"))
print(d1)

enter dictionary{2:20, 'a': 'python'}
{2: 20, 'a': 'python'}

In [10]:
d=dict([(10,20),(20,30),('a','b')])
print(d)

{10: 20, 20: 30, 'a': 'b'}

In [12]:
list(zip([10,20,30.29],(20,30.29,10)))

[(10, 20), (20, 30.29), (30.29, 10)]

In [16]:
print(d.get('emp1'))

{'name': 'abc', 'age': 23, 'address': '16-1-33/c'}

In [17]:
print(d.get('emp5'))

None

In [18]:
print(d.get('emp5','thi is not present'))

thi is not present

In [21]:
print(d.setdefault('emp5','how are u'))
print(d)

how are u
{'emp1': {'name': 'abc', 'age': 23, 'address': '16-1-33/c'}, 'emp2': {'name': 'ab', 'age': 3, 'address': '16-33/c'}, 'emp5': 'how are u'}

In [24]:
d1={2:20,30:3}
d.update(d1)
print(d1)
print(d)

{2: 20, 30: 3}
{'emp1': {'name': 'abc', 'age': 23, 'address': '16-1-33/c'}, 'emp2': {'name': 'ab', 'age': 3, 'address': '16-33/c'}, 'emp5': 'how are u', 2: 20, 30: 3}

In [25]:
d.pop('emp5')
print(d)

{'emp1': {'name': 'abc', 'age': 23, 'address': '16-1-33/c'}, 'emp2': {'name': 'ab', 'age': 3, 'address': '16-33/c'}, 2: 20, 30: 3}

In [27]:
print(d.keys())

dict_keys(['emp1', 'emp2', 2, 30])

In [30]:
for i in d.values():
    print(i)

{'name': 'abc', 'age': 23, 'address': '16-1-33/c'}
{'name': 'ab', 'age': 3, 'address': '16-33/c'}
20
3

In [31]:
print(d.values())

dict_values([{'name': 'abc', 'age': 23, 'address': '16-1-33/c'}, {'name': 'ab', 'age': 3, 'address': '16-33/c'}, 20, 3])

In [32]:
d.clear()
print(d)

{}

In [37]:
{i:i**2 for i in range(2,10)}

{2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}